<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('partials/head')%>
</head>

<body>
    <%- include('partials/navigation')%>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About Me</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim assumenda blanditiis maiores, magnam laborum ipsum repudiandae rerum eveniet laboriosam sint deleniti iusto nemo numquam dolor aliquid laudantium. Quo magnam maxime asperiores veniam beatae, autem voluptatum. Officia illum porro ipsa cumque est maxime et repellendus culpa? Vel quia, fuga culpa nostrum similique qui est ipsam ducimus officia nesciunt dolores perferendis velit at veritatis tenetur! Atque, ut voluptatum? Ratione ducimus natus impedit voluptate numquam id fuga quod quas possimus soluta. Minus dolores architecto aspernatur a inventore? Temporibus quia ducimus natus, deserunt, ipsam dignissimos rem nisi laudantium dicta itaque assumenda suscipit harum excepturi soluta quisquam ea illo consequuntur est magni, tempora dolores? Praesentium consectetur repellat aliquam eius veritatis! Corrupti, dolor quas. Velit delectus, sint ex architecto labore, ipsa ullam suscipit doloremque excepturi hic consequatur officiis obcaecati repellat odio ducimus sit quos maiores aliquam recusandae necessitatibus ipsam, unde nesciunt. At sapiente, reprehenderit hic totam rem dicta similique excepturi numquam veniam ducimus tempora non illo rerum, voluptate corporis laudantium qui earum aperiam, molestiae quasi minus nostrum id odit cupiditate? Veniam dolor ea dolorem quibusdam enim, vero corrupti ab provident non aliquam similique quaerat quam dolores! Accusantium libero similique placeat commodi consectetur assumenda voluptatem rem blanditiis laboriosam totam at voluptatum explicabo, deserunt velit odit nihil voluptate, distinctio repudiandae facilis id dolor natus quasi rerum non. A, veritatis! Iure unde suscipit, dignissimos facilis quas consequuntur eaque ducimus deserunt illum commodi dolorum placeat voluptatem sint ullam aperiam! Voluptates sint nam illo cum tempore optio sequi. Soluta aut facere sequi maiores temporibus at fuga veritatis corporis tempora molestiae, deleniti ullam molestias necessitatibus fugit ut distinctio non! Sapiente saepe officia at magnam placeat, omnis quaerat provident blanditiis et. Voluptate debitis facere iusto quisquam est deserunt asperiores provident, molestias quia, tempore repellat voluptates unde labore adipisci odio quo? Atque, error ex!</p>
        </section>
    </main>

    <%- include('partials/footer')%>
</body>

</html>